{
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "add-module-exports",
    "transform-es2015-modules-umd"
  ],
  "presets": [
    ["es2015",{ "loose": true }],
    "react",
    "stage-2"
  ]
}
